.icon {
    width: 16px;
    height: 16px;
}
.icon-2x{
    width: 32px;
    height: 32px;
}
.icon-3x{
    width: 48px;
    height: 48px;
}



/* Global */
:root {
/* App Colors */
--color-primary: var(--color-black);
--color-primary-variant: var(--color-gray);
--color-accent: var(--color-blue);
--color-accent-variant: var(--color-orange);
--color-text: var(--color-white);


/* Color */
  --color-black: #050a13;
  --color-blue: #03e8f9;
  --color-orange: #fd6413;
  --color-gray: #1b1e26;
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-dark-blue: #6666ff;
  --color-light-grey: #7c7979;
  --color-dull-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-light-orange: #feb546;
  --color-light-blue: #91b9ee;
  --color-light-greenblue: #ccfff2;
  /* --color-grey: #616161; */

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
  --weight-lighter: 300;

    /* Size */
    --size-border-radius: 4px;

    /* Animation */
    --animation-duration: 300ms;
}

.header {
    background-color: var(--color-black);
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header__logo__img {
    width: 36px;
    height: 36px;
}

.header__logo__title {
    font-size: 1.8rem;
}

.header__menu {
    display: flex;
    gap: 4px;
}

.header__menu__item {
    padding: 8px 16px;
}

.header__menu__item:hover {
    border-bottom: 1px solid var(--color-accent);

}

.header__menu__item.active{
    border: 1px solid var(--color-accent);
    border-radius: 4px;
}

.inner {
    width: 100%;
    margin: 0;
  }
    /* Universal tags */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Maven Pro', sans-serif;
    margin: 0;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
}



a {
    text-decoration: none;
    color: var(--color-text);
    display: flex;
}

ul {
    list-style: none;
    padding: 0px;
}

li {
    list-style: none;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    outline: 0;
    padding: 0;
}

button:focus{
    outline: 1px solid var(--color-accent);
}
/* Typography */
h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
}

p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
}

@keyframes fill {
  from {
    top:250px;
    transform:translateX(-50%) rotate(0deg);
  }
  to {
    top:-50px;
    transform:translateX(-50%) rotate(360deg);
  }
}
/* 
/* Dark theme */
/* @import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
}



body.dark {
	background: #292C35;
    color: var(--color-white);
}

.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}


.fa-moon {
	color: #f1c40f;
}

.fa-sun {
	color: #f39c12;
} */ 


/* Navbar */
#navbar {
    /* flex-direction: column; */
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    /* background-color: var(--color-light-blue); */
    background-color: transparent;
    align-items: center;
    /* color: var(--color-white); */
    padding: 16px;
    transition: all var(--animation-duration) ease-in-out;
}

#navbar.navbar--dark {
    background-color: var(--color-light-blue);
    padding: 16px;
}

.navbar__logo{
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: white;
}

.navbar__menu {
    display: flex;
}

.navbar__menu__item{
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    color: var(--color-white);
    border: 1px solid transparent;
    border-radius: var(--size-border-radius);
}

 .navbar__menu__item.active{
    border: 1px solid var(--color-white);
}  

.navbar__menu__item:hover{
    border-color: var(--color-white);
    background-color: var(--color-dark-blue);
    border-radius: var(--size-border-radius);
}

.navbar__toggle-btn{
    position: absolute;
    top: 24px;
    right: 32px;
    font-size: 24px;
    color: var(--color-white);
    display: none;
    font-family: 'fontAwesome';
}


/* Home */
#home {
    background-color: var(--color-primary);
    color: var(--color-text);
    background: url('imgs/home-background.png') center/cover no-repeat;
    padding: 5rem 1rem;
    padding-top: 7rem;
    text-align: center; 
}

.home__avatar {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: 3px solid var(--color-accent);
    border-radius: 100%;
}

.home__title {
    font-size: 3rem;
    margin-bottom: 1rem;
}
.home__title--strong{
    color: var(--color-accent);
}

.home__description{
    font-size: 1.3rem;
}

.home__contact{
    display: inline-block;
    background-color: var(--color-accent);
    color: var(--color-black);
    font-weight: bold;
    margin: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

.home__contact:hover {
    background-color: transparent;
    color: var(--color-text);
    outline: 2px solid var(--color-accent);
}
    /* Section common */
.section {
    padding: 4rem;
    text-align: center;
}

.title{
    font-size: 2.5rem;
    margin: 1rem 0;
}

.description {
    font-size: 1.5rem;
    margin: 0.5rem;
}
#aboutp{
    text-decoration-color: #4d4d4d;
    text-align:inherit;
}

.section__container {
    max-width: 1200px;
    margin: auto;
}

    /* About */
#about .about__majors{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px 0;
}

.major .major__icon {
    width: 170px;
    height: 170px;
    line-height: 170px;
    font-size: 70px;
    margin: auto;
    color: var(--color-dark-blue);
    border:1px solid var(--color-blue);
    border-radius: 50%;
    margin-bottom: 16px;
    background-color: #ffffe6;
}
.major__icon i {
    transition: all var(--animation-duration) ease;
}
.major__icon:hover i{
    color: navy;
    transform: rotate(-30deg) scale(1.1);
    transition: all 700ms ease;
}


.major__title, 
.major__description {
    color: var(--color-dark-grey);
}

.major__description {
    font-size: var(--font-small);
}

.school__logo__monroe {
    width: 120px;
    height: 120px;
}
.school__logo__tu {
    width: 120px;
    height: 30px;
}

.school {
    display: flex;
    align-items: center;
}
.school__description {
    margin: 0 16px;
    text-align: left;
}
.school__name, .school__period{
    color: var(--color-light-grey);
}

.school__name {
    font-size: var(--font-small);
}
.school__period {
    font-size: var(--font-micro);
}

#skills {
    /* background: linear-gradient(to bottom, #ccfff2 0%, #b3ecff 100%); */
    background-color: #ffffe6;
}

.skillset {
    display: flex;
    line-height: normal;
    color: var(--color-light-white);
    border-radius: 2.5rem;
    margin: 20px 0;
}

.skillset__title {
    color: var(--color-white);
}

.skillset__left {
    flex-basis: 60%;
    background-color: navy;
    border-radius: 2.5rem;
    padding: 20px 40px;
}

.skill__description {
    display: flex;
    justify-content: space-between;
}

.skill {
    margin-bottom: 32px;
}

.skill__bar{
    width: 100%;
    height: 3px;
    background-color: gray;
}
.skill__value{
    height: 3px;
    background-color: var(--color-light-greenblue);
}
.skillset__right {
    flex-basis: 40%;
}

.tools {
    background-color: #91b9ee;
    border-radius: 2.5rem;
}

.etc {
    background-color: var(--color-blue);
    border-radius: 2.5rem;
}
.tools, .etc {
    margin: auto;
    padding: 20px;
    
}

/* Work */
.work__categories{
    margin: 40px;
}

.category__btn {
    border: 1px solid var(--color-dark-white);
    border-radius: var(--size-border-radius);
    font-size: var(--font-regular);
    padding: 8px 48px;
    position: relative;
}

.category__btn.selected  .category__count,
.category__btn:hover .category__count{
    opacity: 1;
    top: 0;
}
.category__btn.selected,
.category__btn:hover {
    background-color: var(--color-dark-blue);
    color: var(--color-white)
}
.category__btn.selected .category__btn,
.category__count{
    background-color: var(--color-orange);
    border-radius: 50%;
    color: var(--color-white);
    width: 24px;
    height: 24px;
    line-height: 24px;
    display: inline-block;
    position: absolute;
    top: -20px;
    right: 16px;
    opacity: 0;
    transition: all var(--animation-duration) ease-in;
}

.work__projects {
    display: flex;
    flex-wrap:  wrap;
    justify-content: center;
    opacity: 1;
    transition: all var(--animation-duration) ease-in;
}

.work__projects.anim-out {
    opacity: 0;
    transform: scale(0.96) translateY(40px);
}

.project {
    position: relative;
    width: 280px;
    height: 250px;
    margin: 2px;
    background-color: var(--color-light-white);

}

.project.invisible {

    display: none;
}

.project__img{
    max-width: 100%;
    max-height: 100%;
}

.project__description {
    position: absolute;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(10px);
    transition: all var(--animation-duration) ease-in;
}
.project:hover .project__description {
    opacity: 0.8;
    transform: translateY(0px);
}

.project__description h3{
    color: var(--color-orange);
}

.project__description h3:after {
    content: '';
    display: block;
    position: relative;
    left: 50%;
    width: 120px;
    height: 2px;
    transform: translateX(-40%);
    margin-left: -12px;
    margin-top: 8px;
    background-color: var(--color-dark-white);
}

/* Contact */
#contact {
    background-color: var(--color-light-blue);
}
.contact__title,
.contact__email,
.contact__rights {
    color: var(--color-white);
}

.contact__title {
    margin: 30px 0;
}

.contact__links {
    font-size: var(--font-large);
    margin: 24px 0;
    display: flex;
    justify-content: center;
    
}


.contact__links i{
    margin-right: 25px;
    transition: all var(--animation-duration) ease-in;
}

.contact__links i:hover {
    transform: scale(1.1);
    color: navy;
}

/* Scroll */
.arrow-up {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 70px;
    height: 70px;
    font-size: 50px;
    color: var(--color-white);
    background-color: var(--color-light-blue);
    border-radius: 50%;
    opacity: 0;
    transform: translateY(60px);
    transition: all var(--animation-duration) ease-in;
}

.arrow-up.visible {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}


/* for below 768px screen width */
@media screen and (max-width: 768px) {
    :root{
          /* Font size */
        --font-large: 30px;
        --font-medium: 18px;
        --font-regular: 16px;
        --font-small: 14px;
        --font-micro: 12px;
        }
    .navbar__toggle-btn {
        display: block; 
        top: 30px;
        right: 26px;
        background-color: transparent;
        font-size: var(--font-medium);
        padding: 0;
    }

    #navbar{
        flex-direction: column;
        align-items: flex-start;
        background-color: var(--color-light-blue);
    }

    .navbar__logo{
        font-size: var(--font-large);
    }
    .navbar__menu{
        flex-direction: column;
        text-align: center;
        width: 100%;
        display: none;
    }

    .navbar__menu.open {
        display: block;
    }

    .section {
        padding: 16px;
        padding-top: 40px;
    }
    .about__majors {
        flex-direction: column;
        margin-top: 30px;
        margin-bottom: 0px;
    }

    .major {
        margin-bottom:  38px;
    }

    .skillset {
        flex-direction: column;
    }
    
    .category__btn {
        margin: 4px 0;
        width: 100%;
    }

    .project{
        flex-grow: 1;
    }
    .arrow-up {
        width: 50px;
        height: 50px;
        font-size: 30px;
        line-height: 50px;
        right: 16px;
        bottom: 16px;
    }
}